
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        just a page
        @Html.Editor("mytext")
        <input class="text-box single-line" id="mytext" name="mytext" type="text" value="">
    </div>
</body>
</html>
